body{
    background-color: rgb(166, 182, 179);
}

h1, h2{
    padding: 10px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

#carouselExampleControls{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    padding: 10px;
}

.accordion-button:hover{
    font-weight: bold;
}

.accordion-item{
    background-color: rgba(139, 189, 134, 0.685);
}

.nav-link:hover{
    color: rgba(139, 189, 134, 0.685);
    font-weight: bold;
}

.nav-link.active:hover{
    color: rgba(139, 189, 134, 0.685);
    font-weight: bold;
}

.nav-link{
    color: blue;
}

.nav-link.active{
    color: blue;
}

.dropdown-item:hover{
    color: rgba(139, 189, 134, 0.685);
    font-weight: bold;
}








